a {
    text-decoration: none;
    color: blue;
}

a:hover{
    font-family: Gill Sans, sans-serif;
    color: #1E22AA;
}

.tradecenter {
  transform: rotate(25deg);
}

.nyknys {
	font-family:Gill Sans;
	text-align:center;
	font-size:50px;
	margin-top:30px;
	margin-bottom:-40px;
}

.nyknys1 {
	font-family:Gill Sans;
	text-align:center;
	font-size:50px;
	margin-bottom:70px;
}

.text1 {
	font-family:Gill Sans;
	font-size:30px;
	text-align:center;

}

.list {
	font-family:Gill Sans;
	font-size:20px;
	margin-bottom:10px;
	text-align:center;
	text-decoration:none;
	list-style: none
}

.ist {
	margin-bottom:10px;
}

.if {
	font-family:Gill Sans;
	font-size:30px;
	text-align:center;
}

.notice {
	font-family:Gill Sans;
	font-size:30px;
	text-align:center;
}

.number {
	color:blue;
	font-family:Gill Sans;
	font-size:30px;
	text-align:center;
}

.you {
	font-family:Gill Sans;
	font-size:25px;
	text-align:center;
}

.how {
	font-family:Gill Sans;
	font-size:25px;
	text-align:center;
}

.stories {
	font-family:Gill Sans;
	font-size:20px;
	text-align:center;

}