body{
	margin:0 auto;
	display: fixed;
}

div {
  opacity: 0;
}


div:hover {
  opacity: 1;
  transition: 8s;
  color:#44a392;
}

p{
	padding:30px;
	font-size:35pt;
	text-align:center;
	font-family: 'Arial', sans-serif;
	background-color:white;
}

 .home {
	width:1200px;		
	height:600px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
	}

.memories {
	width:1000px;		
	height:500px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
    margin-bottom:auto;
}
