body {
  background-color:white;
  margin:0;
}

.element {
  border-radius: 50%;
  width:20px;
  height:20px;
  background-color:black;
  margin:10px;
  position:absolute;
}

.random {
  background-color:#000;
  border-radius: 0%;
  width:350px;
  height:350px;
}