body {
  background-color:white;
  margin:0;
}

.element {
 width:90px;
  height:90px;
  background-color:black;
  margin:18px;
  float:left;
  position:absolute;
}

.elements {
  width:30px;
  height:30px;
  background-color:white;
  margin:46px;
  float:left;
  position:absolute;
}

.random {
  background-color:#000;
  border-radius: 0%;
  width:350px;
  height:350px;
}