body{
	margin:0 auto;
	display: fixed;
}

p{
	padding:30px;
	font-size:50pt;
	text-align:center;
	font-family: 'Arial', sans-serif;
	background-color:white;
}

div {
  opacity: 0;
}

div:hover {
  opacity: 1;
  transition: 8s;
  color:#44a392;
}

.carabao{
	width:250px;
	height:250px;
    left: 20%;
    top: 40%;
    color:brown;
    position:fixed;}

.puppy{
	width:250px;
	height:250px;
    left: 60%;
    top: 40%;
    color:black;
    position:fixed;}


 .home {
	width:350px;		
	height:175px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:100px;
	}

.memories {
	width:1000px;		
	height:500px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
    margin-bottom:auto;
}
