.title {
    font-size: 100px;
    font-family:Gill Sans, sans-serif;
    color: #F2CDCF;
    margin: auto;
    position:center;
    display: inline-block;
    margin-left:20px;
}

a {
    text-decoration: none;
    color: #FFE699;
}

a:hover{
    font-family: Gill Sans, sans-serif;
    color: #FFC915;
}

.about {
    text-decoration: none;
    text-align: left;
    position:relative;
    font-family: Gill Sans, sans-serif;
    text-decoration: none;
    padding: 14px 25px;
    text-align: left;
    font-size:20px;
}

.interviews {
    text-decoration: none;
    text-align: left;
    position:relative;
    font-family: Gill Sans, sans-serif;
    text-decoration: none;
    padding: 14px 25px;
    text-align: left;
    font-size:20px;
}

.originalsites {
    text-decoration: none;
    text-align: left;
    position:relative;
    font-family: Gill Sans, sans-serif;
    text-decoration: none;
    padding: 14px 25px;
    text-align: left;
    font-size:20px;
}

.contact {
    text-decoration: none;
    text-align: left;
    position:relative;
    font-family: Gill Sans, sans-serif;
    text-decoration: none;
    padding: 14px 25px;
    text-align: left;
    font-size:20px;
 }

.description {
    font-family: Gill Sans, sans-serif;
    font-size: 40px;
    color: #009DA5;
    text-align:center;
    margin-top:-80px;
    margin-bottom: -7px;
}

.sitepicture {
    width: 1000px;
    height:375px;
    margin-top:-320px;
    margin-left:300px;
    margin-bottom:20px;
    background-color: #F8F2CE

}

.info1 {
    font-family: Gill Sans, sans-serif;
    text-align:center;
    font-size:18px;
    margin-top:20px;
    color:#678ED9;
}












